@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[28px] leading-[1.4] tracking-[0.02em];
  }
  h2 {
    @apply text-[22px] leading-[1.4] tracking-[0.02em];
  }
  h3 {
    @apply text-[20px] leading-[1.4] tracking-[0.02em];
  }
  h4 {
    @apply text-[18px] leading-[1.4] tracking-[0.02em];
  }
  h5 {
    @apply text-[16px] leading-[1.4] tracking-[0.02em];
  }
  h6 {
    @apply text-[14px] leading-[1.4] tracking-[0.02em];
  }
  p {
    @apply text-[14px] leading-[1.6] tracking-[0.02em];
  }
  a {
    @apply text-[14px] leading-[1.6] tracking-[0.02em];
  }

  @screen sm {
    h1 {
      @apply text-[28px] leading-[1.4] tracking-[0.02em];
    }
    h2 {
      @apply text-[22px] leading-[1.4] tracking-[0.02em];
    }
    h3 {
      @apply text-[20px] leading-[1.4] tracking-[0.02em];
    }
    h4 {
      @apply text-[18px] leading-[1.4] tracking-[0.02em];
    }
    h5 {
      @apply text-[16px] leading-[1.4] tracking-[0.02em];
    }
    h6 {
      @apply text-[14px] leading-[1.4] tracking-[0.02em];
    }
    p {
      @apply text-[14px] leading-[1.6] tracking-[0.02em];
    }
    a {
      @apply text-[14px] leading-[1.6] tracking-[0.02em];
    }
  }

  @screen md {
    h1 {
      @apply text-[32px] leading-[1.4] tracking-[0.02em];
    }
    h2 {
      @apply text-[24px] leading-[1.4] tracking-[0.02em];
    }
    h3 {
      @apply text-[22px] leading-[1.4] tracking-[0.02em];
    }
    h4 {
      @apply text-[20px] leading-[1.4] tracking-[0.02em];
    }
    h5 {
      @apply text-[18px] leading-[1.4] tracking-[0.02em];
    }
    h6 {
      @apply text-[16px] leading-[1.4] tracking-[0.02em];
    }
    p {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
    a {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
  }

  @screen lg {
    h1 {
      @apply text-[40px] leading-[1.4] tracking-[0.02em];
    }
    h2 {
      @apply text-[28px] leading-[1.4] tracking-[0.02em];
    }
    h3 {
      @apply text-[24px] leading-[1.4] tracking-[0.02em];
    }
    h4 {
      @apply text-[22px] leading-[1.4] tracking-[0.02em];
    }
    h5 {
      @apply text-[20px] leading-[1.4] tracking-[0.02em];
    }
    h6 {
      @apply text-[18px] leading-[1.4] tracking-[0.02em];
    }
    p {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
    a {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
  }

  @screen xl {
    h1 {
      @apply text-[48px] leading-[1.4] tracking-[0.02em];
    }
    h2 {
      @apply text-[32px] leading-[1.4] tracking-[0.02em];
    }
    h3 {
      @apply text-[28px] leading-[1.4] tracking-[0.02em];
    }
    h4 {
      @apply text-[24px] leading-[1.4] tracking-[0.02em];
    }
    h5 {
      @apply text-[20px] leading-[1.4] tracking-[0.02em];
    }
    h6 {
      @apply text-[18px] leading-[1.4] tracking-[0.02em];
    }
    p {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
    a {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
  }

  @screen 2xl {
    h1 {
      @apply text-[56px] leading-[1.4] tracking-[0.02em];
    }
    h2 {
      @apply text-[36px] leading-[1.4] tracking-[0.02em];
    }
    h3 {
      @apply text-[32px] leading-[1.4] tracking-[0.02em];
    }
    h4 {
      @apply text-[28px] leading-[1.4] tracking-[0.02em];
    }
    h5 {
      @apply text-[24px] leading-[1.4] tracking-[0.02em];
    }
    h6 {
      @apply text-[20px] leading-[1.4] tracking-[0.02em];
    }
    p {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
    a {
      @apply text-[16px] leading-[1.6] tracking-[0.02em];
    }
  }
}
